<ion-nav-view>
    <ion-content class="background" scroll="false">
        <div class="row">
            <div class="auth-pages">
                <h2 class="auth-name royal">Syte</h2>
                <h4 class="home-label">collaborate and track progress in your site projects in real time</h4>
                <form ng-submit="signup()">
                <label class="item item-input item-floating-label forms">
                    <span class="input-label">Fullname</span>
                    <input type="text" placeholder="Fullname" ng-model="signupData.fullname">
                </label>
                <label class="item item-input item-floating-label forms">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="signupData.password">
                </label>

                <label class="item item-input item-floating-label forms">
                    <span class="input-label">Company Code</span>
                    <input type="tel" placeholder="Company Code" ng-model="signupData.company_code">
                </label>

                <label class="item item-input item-floating-label forms">
                    <span class="input-label">Verification Code</span>
                    <input type="tel" placeholder="Verification Code" ng-model="signupData.verification_code">
                </label>


                <button class="button button-block button-royal">Signup</button>
                </form>
                <a class="button button-block button-stable" ui-sref="login">Login</a>
            </div>
        </div>


    </ion-content>
</ion-nav-view>
