<ion-view>
    <ion-content class="background" scroll="false">
        <div class="row">
            <div class="auth-pages">
                <h2 class="auth-name">SyteWork</h2>


                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-telephone placeholder-icon"></i>
                        <input type="tel" placeholder="Phone ">
                    </label>

                    <label class="item item-input">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="text" placeholder="Password">
                    </label>
                </div>

                <button class="button button-full button-assertive">Login</button>


                <div class="landing-buttons">


                    <a ui-sref="home" class="button icon-left ion-chevron-left button-full button-calm">
                        Back
                    </a>

                </div>
            </div>


        </div>

    </ion-content>
</ion-view>
