<ion-nav-view>
    <ion-content class="background" scroll="false">
        <div class="row">
            <div class="auth-pages">
                <h2 class="auth-name royal">Syte</h2>
                <h4 class="home-label">collaborate and track progress in your site projects in real time</h4>
                <form ng-submit="login()">
                <label class="item item-input item-floating-label forms">
                    <span class="input-label">Phone Number</span>
                    <input type="text" placeholder="Phone Number" ng-model="loginData.phone_number">
                </label>
                <label class="item item-input item-floating-label forms">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="loginData.password">
                </label>

                <button class="button button-block button-royal">Login</button>
                </form>
                <a class="button button-block button-stable" ui-sref="home">Signup</a>
            </div>
        </div>


        <!--<a ui-sref="signup" class="forgot-link">Forgot Password</a>-->

    </ion-content>
</ion-nav-view>
