/* Empty. Add your own CSS if you like */
.background.scroll-content{
    background: url('../img/KDJVR24G33.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
}

/*.menu {
    background-color: rgb(43, 47, 62);
}

.menu-background{
    background-color: rgb(43, 47, 62);
}*/

.home-label{
    color: white;
    font-family: myFirstFont;
    text-align: center;
}

.app-name{
    color: white;
    margin-bottom: 300px;
    text-align: center;
    font-family: mySecondFont;
}

.auth-name{
    color: white;
    margin-bottom: 150px;
    text-align: center;
    font-family: mySecondFont;
}

.auth-pages{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.trial-page{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.landing-page{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}

.landing-buttons{
    margin-top: 50px;
}

@font-face {
    font-family: myFirstFont;
    src: url('../lib/ionic/fonts/Choplin-ExtraLight-DEMO.otf');
    font-weight: bold;
}

@font-face {
    font-family: mySecondFont;
    src: url('../lib/ionic/fonts/Choplin-Medium-DEMO.otf');
    font-weight: bold;
}

.logo{

}


.verify-header{
    padding: 70px;
    /*border: 1px solid #f5f5f5;*/
    background-color: #f5f5f5;
    background-color: rgb(43, 47, 62);
    color: white;
    text-align: center;
}

.verify-header h3{
    color: #f5f5f5;
}

.theme-color{
    background-color: rgb(43, 47, 62);
}

body{
    font-family: Raleway;
}

